* {
  margin: 0;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  background: url("../images/space_bg.jpg");
}
.pointer {
  cursor: pointer;
}
/* .gradient {
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 255, 209, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
} */
