#contact {
  background: #0b0b0b;
  width: 900px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-bottom: -50px;
  align-items: center;
  color: #00c6a2;
}
#contact h1 {
  font-size: 2em;
}
#contact p {
  font-size: 1.5em;
}
#contact a {
  color: #00c6a2;
  border: 1px solid #00c6a2;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  background-color: black;
  text-decoration: none;
  text-align: center;
}
#contact a:hover {
  cursor: pointer;
  background-color: #00c6a2;
  border: 1px solid #00c6a2;
  color: #000;
}
@media screen and (max-width: 1240px) {
  #contact {
    width: 680px;
  }
}
@media screen and (max-width: 1024px) {
  #contact {
    width: 450px;
    flex-direction: column;
    padding: 20px;
    margin-bottom: -80px;
  }
  #contact h1 {
    margin-bottom: 5px;
  }
  #contact p {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  #contact {
    width: 370px;
    margin-bottom: -70px;
  }
  #contact h1 {
    font-size: 1.7em;
  }
  #contact p {
    font-size: 1.1em;
  }
  #contact a {
    padding: 5px 20px 5px 20px;
  }
}
@media screen and (max-width: 480px) {
  #contact {
    width: 250px;
    margin-bottom: -80px;
  }
  #contact h1 {
    font-size: 1.5em;
  }
  #contact p,
  #contact a {
    font-size: 0.8em;
  }
}
