footer {
  display: flex;
  justify-content: center;
  background-color: #144d5c;
  flex-direction: column;
  align-items: center;
  color: #00c6a2;
  padding-top: 40px;
}

.footer-text-container,
.footer-text-container p,
.info-container {
  padding-bottom: 20px;
}
.social-icon {
  width: 50px;
  margin: 10px;
}
.social-icon:hover {
  cursor: pointer;
}
.footer-text-container {
  display: flex;
  flex-direction: column;
}
.info-container {
  display: flex;
  align-items: center;
}
.info-container img {
  width: 35px;
}
hr {
  height: 2px;
  background-color: #00c6a2;
  border: none;
}
