footer {
  display: flex;
  justify-content: center;
  background-color: #144d5c;
  flex-direction: column;
  align-items: center;
  color: #00c6a2;
  padding-top: 40px;
}

.footer-text-container,
.footer-text-container p,
.info-container {
  padding-bottom: 20px;
}
.social-icon {
  width: 50px;
  margin: 10px;
}
.social-icon:hover {
  cursor: pointer;
}
.footer-text-container {
  display: flex;
  flex-direction: column;
}
.info-container {
  display: flex;
  align-items: center;
}
.info-container img {
  width: 35px;
}
hr {
  height: 2px;
  background-color: #00c6a2;
  border: none;
}
@media screen and (max-width: 1240px) {
  .footer-text-container {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  footer {
    padding-top: 60px;
  }
  .footer-text-container {
    width: 80%;
  }
  .footer-text-container,
  .footer-text-container p,
  .info-container {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 480px) {
  .footer-text-container {
    width: 90%;
  }
}
