nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 1800px;
  z-index: 6;
}
.navLink {
  margin: 15px;
  font-size: 1.4em;
}
.navLink {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
}
.navLink {
  /* Same as before */
  background: linear-gradient(
    to right,
    red,
    rgb(252, 248, 5) 50%,
    rgba(0, 255, 209, 1) 50%
  );
}

.navLink {
  /* Same as before */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}
.navLink {
  /* Same as before */
  transition: background-position 275ms ease;
}
.navLink:hover {
  background-position: 0 100%;
}
@media screen and (max-width: 1800px) {
  nav {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .navLink {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 768px) {
  .submenu {
    background: #000000;
    position: fixed;
    transition: 1s;
    padding: 10px;
    border: 1px solid #00ffd1;
    z-index: 11;
    display: flex;
    flex-direction: column;
    left: -230px;
  }
  .navLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .submenu-show {
    animation-name: show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes show {
    from {
      left: -230px;
    }
    to {
      left: 0px;
    }
  }
  .submenu-hide {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes hide {
    from {
      left: 0px;
    }
    to {
      left: -230px;
    }
  }
}
