.lang-icon {
  width: 100px;
  position: relative;
}
.lang-icons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lang-icons-container ul li {
  color: rgba(0, 255, 209, 1);
}
.skills-list {
  list-style-type: none;
  padding: 0;
}
.skills-list li {
  display: flex;
  align-items: center;
}
.asteroid {
  width: 40px;
}
#skills,
#about,
#work,
#contact {
  z-index: 2;
}
.lang-div {
  padding: 80px;
}
.lang-div > img {
  width: 128px;
}
